l# Prerequisites
*.d

#Xcode and other unimportant files
xcuserdata
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
msdscript
msdscript0
msdscript1
msdscript2
msdscript3
msdscript4
msdscript5
msdscript6
msdscript7 	
test_msdscript

#Folders
broken_msdscripts_for_rndm
